/* line 1, ../../sass/utils/typography.scss */
.font-light { font-weight: 200; }

/* line 5, ../../sass/utils/typography.scss */
.font-regular { font-weight: 400; }

/* line 9, ../../sass/utils/typography.scss */
.font-medium { font-weight: 500; }

/* line 13, ../../sass/utils/typography.scss */
.font-bold { font-weight: 700; }

/* line 17, ../../sass/utils/typography.scss */
.font-black { font-weight: 900; }
