/* line 1, ../../sass/utils/depth.scss */
.depth-0 { -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }

/* line 7, ../../sass/utils/depth.scss */
.depth-1 { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 12, ../../sass/utils/depth.scss */
.depth-2, .appbar-top { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 17, ../../sass/utils/depth.scss */
.depth-3 { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 22, ../../sass/utils/depth.scss */
.depth-4 { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 27, ../../sass/utils/depth.scss */
.depth-5 { box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 32, ../../sass/utils/depth.scss */
.depth-1-transition:hover { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/* line 36, ../../sass/utils/depth.scss */
.depth-2-transition:hover { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

/* line 40, ../../sass/utils/depth.scss */
.depth-3-transition:hover { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

/* line 44, ../../sass/utils/depth.scss */
.depth-4-transition:hover { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

/* line 48, ../../sass/utils/depth.scss */
.depth-5-transition:hover { box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* line 1, ../../sass/utils/alignment.scss */
.right { float: right; }

/* line 5, ../../sass/utils/alignment.scss */
.left { float: left; }

/* line 101, ../../sass/components/appbar.scss */
.appbar-top { width: 100%; height: 56px; background-color: #6202EE; padding-left: 4px; padding-right: 4px; line-height: 55px; vertical-align: middle; color: white; box-sizing: border-box; font-size: 18px; z-index: 8; }
/* line 24, ../../sass/components/appbar.scss */
.appbar-top .appbar-title { display: inline-block; padding: 0px 20px; font-weight: 500; }
/* line 28, ../../sass/components/appbar.scss */
.appbar-top .appbar-title-large { font-size: 24px; display: inline-block; padding: 0px 20px; font-weight: 500; }
/* line 33, ../../sass/components/appbar.scss */
.appbar-top .appbar-title-bottom { display: inline-block; padding: 0px 20px; font-weight: 500; padding-top: 56px; }
/* line 38, ../../sass/components/appbar.scss */
.appbar-top .appbar-logo { font-size: 2.1rem; display: inline-block; padding: 0px 20px; }
/* line 44, ../../sass/components/appbar.scss */
.appbar-top .material-icons { vertical-align: middle; }
/* line 48, ../../sass/components/appbar.scss */
.appbar-top ul { list-style-type: none; margin: 0px; display: inline-flex; padding: 0px; }
/* line 55, ../../sass/components/appbar.scss */
.appbar-top ul li a { color: white; padding: 0px 6px; display: inline-block; }
/* line 61, ../../sass/components/appbar.scss */
.appbar-top .appbar-link { font-size: 15px; padding: 0px 16px; }
/* line 66, ../../sass/components/appbar.scss */
.appbar-top i { border-radius: 50%; padding: 6px; }
/* line 71, ../../sass/components/appbar.scss */
.appbar-top .active { background-color: rgba(0, 0, 0, 0.15); }
/* line 75, ../../sass/components/appbar.scss */
.appbar-top .active-light { background-color: rgba(255, 255, 255, 0.15); }
/* line 79, ../../sass/components/appbar.scss */
.appbar-top.appbar-inset { background: radial-gradient(circle at 50% 0, rgba(0, 0, 0, 0) 35px, #6202ee 36px) 0 0; }
/* line 83, ../../sass/components/appbar.scss */
.appbar-top.appbar-fixed { position: fixed; }
/* line 87, ../../sass/components/appbar.scss */
.appbar-top.appbar-absolute { position: absolute; }
/* line 91, ../../sass/components/appbar.scss */
.appbar-top.appbar-extended { height: 112px !important; }
/* line 95, ../../sass/components/appbar.scss */
.appbar-top.appbar-large { height: 64px; line-height: 63px; }

/* line 106, ../../sass/components/appbar.scss */
.appbar-bottom { width: 100%; height: 56px; background-color: #6202EE; padding-left: 4px; padding-right: 4px; line-height: 55px; vertical-align: middle; color: white; box-sizing: border-box; font-size: 18px; z-index: 8; bottom: 0px; }
/* line 24, ../../sass/components/appbar.scss */
.appbar-bottom .appbar-title { display: inline-block; padding: 0px 20px; font-weight: 500; }
/* line 28, ../../sass/components/appbar.scss */
.appbar-bottom .appbar-title-large { font-size: 24px; display: inline-block; padding: 0px 20px; font-weight: 500; }
/* line 33, ../../sass/components/appbar.scss */
.appbar-bottom .appbar-title-bottom { display: inline-block; padding: 0px 20px; font-weight: 500; padding-top: 56px; }
/* line 38, ../../sass/components/appbar.scss */
.appbar-bottom .appbar-logo { font-size: 2.1rem; display: inline-block; padding: 0px 20px; }
/* line 44, ../../sass/components/appbar.scss */
.appbar-bottom .material-icons { vertical-align: middle; }
/* line 48, ../../sass/components/appbar.scss */
.appbar-bottom ul { list-style-type: none; margin: 0px; display: inline-flex; padding: 0px; }
/* line 55, ../../sass/components/appbar.scss */
.appbar-bottom ul li a { color: white; padding: 0px 6px; display: inline-block; }
/* line 61, ../../sass/components/appbar.scss */
.appbar-bottom .appbar-link { font-size: 15px; padding: 0px 16px; }
/* line 66, ../../sass/components/appbar.scss */
.appbar-bottom i { border-radius: 50%; padding: 6px; }
/* line 71, ../../sass/components/appbar.scss */
.appbar-bottom .active { background-color: rgba(0, 0, 0, 0.15); }
/* line 75, ../../sass/components/appbar.scss */
.appbar-bottom .active-light { background-color: rgba(255, 255, 255, 0.15); }
/* line 79, ../../sass/components/appbar.scss */
.appbar-bottom.appbar-inset { background: radial-gradient(circle at 50% 0, rgba(0, 0, 0, 0) 35px, #6202ee 36px) 0 0; }
/* line 83, ../../sass/components/appbar.scss */
.appbar-bottom.appbar-fixed { position: fixed; }
/* line 87, ../../sass/components/appbar.scss */
.appbar-bottom.appbar-absolute { position: absolute; }
/* line 91, ../../sass/components/appbar.scss */
.appbar-bottom.appbar-extended { height: 112px !important; }
/* line 95, ../../sass/components/appbar.scss */
.appbar-bottom.appbar-large { height: 64px; line-height: 63px; }
