/* line 1, ../../sass/utils/depth.scss */
.depth-0 { -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }

/* line 7, ../../sass/utils/depth.scss */
.depth-1, .btn { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 12, ../../sass/utils/depth.scss */
.depth-2, .btn:hover { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 17, ../../sass/utils/depth.scss */
.depth-3 { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 22, ../../sass/utils/depth.scss */
.depth-4 { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 27, ../../sass/utils/depth.scss */
.depth-5 { box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 32, ../../sass/utils/depth.scss */
.depth-1-transition:hover { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/* line 36, ../../sass/utils/depth.scss */
.depth-2-transition:hover { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

/* line 40, ../../sass/utils/depth.scss */
.depth-3-transition:hover { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

/* line 44, ../../sass/utils/depth.scss */
.depth-4-transition:hover { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

/* line 48, ../../sass/utils/depth.scss */
.depth-5-transition:hover { box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* line 69, ../../sass/components/button.scss */
.btn { display: inline-block; vertical-align: middle; padding: 13px 16px; background-color: #6202EE; color: white; border-radius: 3px; min-width: 48px; height: 33px; text-transform: uppercase; border: none; cursor: pointer; outline: none; font-size: 14px; font-weight: 500; line-height: 7px; text-align: center; margin-bottom: 5px; }
/* line 22, ../../sass/components/button.scss */
.btn i { vertical-align: top; display: inline-block; line-height: 8px; }
/* line 26, ../../sass/components/button.scss */
.btn i.left { margin-right: 10px; }
/* line 29, ../../sass/components/button.scss */
.btn i.right { margin-left: 10px; }
/* line 34, ../../sass/components/button.scss */
.btn.btn-full { width: 100%; }
/* line 38, ../../sass/components/button.scss */
.btn.btn-large { height: 36px; line-height: 9px; }
/* line 41, ../../sass/components/button.scss */
.btn.btn-large i { line-height: 10px; }
/* line 46, ../../sass/components/button.scss */
.btn.btn-medium { padding: 12px 15px; height: 33px; line-height: 7px; }
/* line 50, ../../sass/components/button.scss */
.btn.btn-medium i { line-height: 8px; }
/* line 55, ../../sass/components/button.scss */
.btn.btn-small { padding: 12px 14px; height: 30px; line-height: 5px; }
/* line 59, ../../sass/components/button.scss */
.btn.btn-small i { line-height: 6px; }
/* line 64, ../../sass/components/button.scss */
.btn.btn-circle { border-radius: 50px; }

/* line 77, ../../sass/components/button.scss */
.btn-outlined { display: inline-block; vertical-align: middle; padding: 13px 16px; background-color: #6202EE; color: white; border-radius: 3px; min-width: 48px; height: 33px; text-transform: uppercase; border: none; cursor: pointer; outline: none; font-size: 14px; font-weight: 500; line-height: 7px; text-align: center; margin-bottom: 5px; border: 1px #9E9E9E solid; background-color: transparent; color: #6202EE; padding: 12px 15px 12px 15px; }
/* line 22, ../../sass/components/button.scss */
.btn-outlined i { vertical-align: top; display: inline-block; line-height: 8px; }
/* line 26, ../../sass/components/button.scss */
.btn-outlined i.left { margin-right: 10px; }
/* line 29, ../../sass/components/button.scss */
.btn-outlined i.right { margin-left: 10px; }
/* line 34, ../../sass/components/button.scss */
.btn-outlined.btn-full { width: 100%; }
/* line 38, ../../sass/components/button.scss */
.btn-outlined.btn-large { height: 36px; line-height: 9px; }
/* line 41, ../../sass/components/button.scss */
.btn-outlined.btn-large i { line-height: 10px; }
/* line 46, ../../sass/components/button.scss */
.btn-outlined.btn-medium { padding: 12px 15px; height: 33px; line-height: 7px; }
/* line 50, ../../sass/components/button.scss */
.btn-outlined.btn-medium i { line-height: 8px; }
/* line 55, ../../sass/components/button.scss */
.btn-outlined.btn-small { padding: 12px 14px; height: 30px; line-height: 5px; }
/* line 59, ../../sass/components/button.scss */
.btn-outlined.btn-small i { line-height: 6px; }
/* line 64, ../../sass/components/button.scss */
.btn-outlined.btn-circle { border-radius: 50px; }
/* line 83, ../../sass/components/button.scss */
.btn-outlined:hover { background-color: #EEEEEE; }

/* line 88, ../../sass/components/button.scss */
.btn-outlined-strong { display: inline-block; vertical-align: middle; padding: 13px 16px; background-color: #6202EE; color: white; border-radius: 3px; min-width: 48px; height: 33px; text-transform: uppercase; border: none; cursor: pointer; outline: none; font-size: 14px; font-weight: 500; line-height: 7px; text-align: center; margin-bottom: 5px; border: 2px #6202EE solid; background-color: transparent; color: #6202EE; padding: 11px 14px 12px 14px; }
/* line 22, ../../sass/components/button.scss */
.btn-outlined-strong i { vertical-align: top; display: inline-block; line-height: 8px; }
/* line 26, ../../sass/components/button.scss */
.btn-outlined-strong i.left { margin-right: 10px; }
/* line 29, ../../sass/components/button.scss */
.btn-outlined-strong i.right { margin-left: 10px; }
/* line 34, ../../sass/components/button.scss */
.btn-outlined-strong.btn-full { width: 100%; }
/* line 38, ../../sass/components/button.scss */
.btn-outlined-strong.btn-large { height: 36px; line-height: 9px; }
/* line 41, ../../sass/components/button.scss */
.btn-outlined-strong.btn-large i { line-height: 10px; }
/* line 46, ../../sass/components/button.scss */
.btn-outlined-strong.btn-medium { padding: 12px 15px; height: 33px; line-height: 7px; }
/* line 50, ../../sass/components/button.scss */
.btn-outlined-strong.btn-medium i { line-height: 8px; }
/* line 55, ../../sass/components/button.scss */
.btn-outlined-strong.btn-small { padding: 12px 14px; height: 30px; line-height: 5px; }
/* line 59, ../../sass/components/button.scss */
.btn-outlined-strong.btn-small i { line-height: 6px; }
/* line 64, ../../sass/components/button.scss */
.btn-outlined-strong.btn-circle { border-radius: 50px; }
/* line 94, ../../sass/components/button.scss */
.btn-outlined-strong:hover { background-color: #EEEEEE; }
/* line 97, ../../sass/components/button.scss */
.btn-outlined-strong.btn-small { line-height: 4px; }
/* line 99, ../../sass/components/button.scss */
.btn-outlined-strong.btn-small i { line-height: 5px; }

/* line 105, ../../sass/components/button.scss */
.btn-flat { display: inline-block; vertical-align: middle; padding: 13px 16px; background-color: #6202EE; color: white; border-radius: 3px; min-width: 48px; height: 33px; text-transform: uppercase; border: none; cursor: pointer; outline: none; font-size: 14px; font-weight: 500; line-height: 7px; text-align: center; margin-bottom: 5px; background-color: transparent; color: #6202EE; }
/* line 22, ../../sass/components/button.scss */
.btn-flat i { vertical-align: top; display: inline-block; line-height: 8px; }
/* line 26, ../../sass/components/button.scss */
.btn-flat i.left { margin-right: 10px; }
/* line 29, ../../sass/components/button.scss */
.btn-flat i.right { margin-left: 10px; }
/* line 34, ../../sass/components/button.scss */
.btn-flat.btn-full { width: 100%; }
/* line 38, ../../sass/components/button.scss */
.btn-flat.btn-large { height: 36px; line-height: 9px; }
/* line 41, ../../sass/components/button.scss */
.btn-flat.btn-large i { line-height: 10px; }
/* line 46, ../../sass/components/button.scss */
.btn-flat.btn-medium { padding: 12px 15px; height: 33px; line-height: 7px; }
/* line 50, ../../sass/components/button.scss */
.btn-flat.btn-medium i { line-height: 8px; }
/* line 55, ../../sass/components/button.scss */
.btn-flat.btn-small { padding: 12px 14px; height: 30px; line-height: 5px; }
/* line 59, ../../sass/components/button.scss */
.btn-flat.btn-small i { line-height: 6px; }
/* line 64, ../../sass/components/button.scss */
.btn-flat.btn-circle { border-radius: 50px; }
/* line 109, ../../sass/components/button.scss */
.btn-flat:hover { background-color: #EEEEEE; }
