/* line 1, ../../sass/utils/depth.scss */
.depth-0, .drawer-fixed-left, .drawer-fixed-right { -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }

/* line 7, ../../sass/utils/depth.scss */
.depth-1, .drawer-left.open, .drawer-right.open { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 12, ../../sass/utils/depth.scss */
.depth-2 { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 17, ../../sass/utils/depth.scss */
.depth-3 { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 22, ../../sass/utils/depth.scss */
.depth-4 { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 27, ../../sass/utils/depth.scss */
.depth-5 { box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 32, ../../sass/utils/depth.scss */
.depth-1-transition:hover { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/* line 36, ../../sass/utils/depth.scss */
.depth-2-transition:hover { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

/* line 40, ../../sass/utils/depth.scss */
.depth-3-transition:hover { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

/* line 44, ../../sass/utils/depth.scss */
.depth-4-transition:hover { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

/* line 48, ../../sass/utils/depth.scss */
.depth-5-transition:hover { box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* line 183, ../../sass/components/drawer.scss */
.drawer-fixed-left { width: 0px; height: 100%; position: fixed; background-color: white; z-index: 10; overflow: hidden; transition: width .3s; overflow-y: auto; border-right: 0px solid #E0E0E0; left: 0px; top: 0px; width: 300px; border-width: 1px; }
/* line 115, ../../sass/components/drawer.scss */
.drawer-fixed-left.drawer-absolute { position: absolute; }
/* line 118, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-title { display: block; padding: 18px 16px 17px 16px; font-size: 18px; font-weight: 500; color: #212121; }
/* line 74, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-header .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 1; position: relative; color: #212121; }
/* line 83, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-header .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 1; position: relative; }
/* line 91, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-header .drawer-background { width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 0; }
/* line 92, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-header .drawer-background .drawer-img { object-fit: cover; height: 165px; width: 300px; }
/* line 74, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-header-avatar .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 1; position: relative; color: #212121; }
/* line 83, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-header-avatar .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 1; position: relative; }
/* line 91, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-header-avatar .drawer-background { width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 0; }
/* line 92, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-header-avatar .drawer-background .drawer-img { object-fit: cover; height: 165px; width: 300px; }
/* line 130, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-header-avatar .drawer-title { padding-top: 8px; }
/* line 133, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-header-avatar .drawer-avatar { margin: 16px 16px 16px 16px; width: 64px; height: 64px; position: relative; }
/* line 140, ../../sass/components/drawer.scss */
.drawer-fixed-left ul { margin-top: 8px; }
/* line 143, ../../sass/components/drawer.scss */
.drawer-fixed-left .material-icons { vertical-align: middle; }
/* line 23, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 32, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu li a span { display: inline-block; vertical-align: middle; }
/* line 36, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu li a i { padding-right: 20px; }
/* line 39, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 44, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu.drawer-menu-without-margin { margin: 0px 0px; }
/* line 46, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu.drawer-menu-without-margin li a { margin: 0px 0px; }
/* line 49, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu.drawer-menu-without-margin .drawer-menu-header { margin: 0px 0px !important; }
/* line 148, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 64, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 68, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu .drawer-menu-header i { padding-right: 20px; }
/* line 23, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 32, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered li a span { display: inline-block; vertical-align: middle; }
/* line 36, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered li a i { padding-right: 20px; }
/* line 39, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 44, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered.drawer-menu-without-margin { margin: 0px 0px; }
/* line 46, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered.drawer-menu-without-margin li a { margin: 0px 0px; }
/* line 49, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered.drawer-menu-without-margin .drawer-menu-header { margin: 0px 0px !important; }
/* line 154, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered li a { margin: 3px 9px; border-radius: 5px; padding: 8px 7px; }
/* line 159, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 64, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 68, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered .drawer-menu-header i { padding-right: 20px; }
/* line 23, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 32, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat li a span { display: inline-block; vertical-align: middle; }
/* line 36, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat li a i { padding-right: 20px; }
/* line 39, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 44, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat.drawer-menu-without-margin { margin: 0px 0px; }
/* line 46, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat.drawer-menu-without-margin li a { margin: 0px 0px; }
/* line 49, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat.drawer-menu-without-margin .drawer-menu-header { margin: 0px 0px !important; }
/* line 165, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat li a { margin: 3px 9px; padding: 8px 7px; }
/* line 169, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 64, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 68, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat .drawer-menu-header i { padding-right: 20px; }
/* line 173, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-input-search { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; }
/* line 8, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-input-search .input { width: 100%; border: none; outline: none; height: 22px; }
/* line 14, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-input-search .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 176, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-input-search-bordered { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E0E0E0; }
/* line 8, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-input-search-bordered .input { width: 100%; border: none; outline: none; height: 22px; }
/* line 14, ../../sass/components/drawer.scss */
.drawer-fixed-left .drawer-input-search-bordered .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 191, ../../sass/components/drawer.scss */
.drawer-fixed-left + header, .drawer-fixed-left + header + main, .drawer-fixed-left + header + main + footer { margin-left: 300px; }

/* line 198, ../../sass/components/drawer.scss */
.drawer-fixed-right { width: 0px; height: 100%; position: fixed; background-color: white; z-index: 10; overflow: hidden; transition: width .3s; overflow-y: auto; border-left: 0px solid #E0E0E0; right: 0px; top: 0px; width: 300px; border-width: 1px; }
/* line 115, ../../sass/components/drawer.scss */
.drawer-fixed-right.drawer-absolute { position: absolute; }
/* line 118, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-title { display: block; padding: 18px 16px 17px 16px; font-size: 18px; font-weight: 500; color: #212121; }
/* line 74, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-header .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 1; position: relative; color: #212121; }
/* line 83, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-header .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 1; position: relative; }
/* line 91, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-header .drawer-background { width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 0; }
/* line 92, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-header .drawer-background .drawer-img { object-fit: cover; height: 165px; width: 300px; }
/* line 74, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-header-avatar .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 1; position: relative; color: #212121; }
/* line 83, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-header-avatar .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 1; position: relative; }
/* line 91, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-header-avatar .drawer-background { width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 0; }
/* line 92, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-header-avatar .drawer-background .drawer-img { object-fit: cover; height: 165px; width: 300px; }
/* line 130, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-header-avatar .drawer-title { padding-top: 8px; }
/* line 133, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-header-avatar .drawer-avatar { margin: 16px 16px 16px 16px; width: 64px; height: 64px; position: relative; }
/* line 140, ../../sass/components/drawer.scss */
.drawer-fixed-right ul { margin-top: 8px; }
/* line 143, ../../sass/components/drawer.scss */
.drawer-fixed-right .material-icons { vertical-align: middle; }
/* line 23, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 32, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu li a span { display: inline-block; vertical-align: middle; }
/* line 36, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu li a i { padding-right: 20px; }
/* line 39, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 44, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu.drawer-menu-without-margin { margin: 0px 0px; }
/* line 46, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu.drawer-menu-without-margin li a { margin: 0px 0px; }
/* line 49, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu.drawer-menu-without-margin .drawer-menu-header { margin: 0px 0px !important; }
/* line 148, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 64, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 68, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu .drawer-menu-header i { padding-right: 20px; }
/* line 23, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 32, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered li a span { display: inline-block; vertical-align: middle; }
/* line 36, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered li a i { padding-right: 20px; }
/* line 39, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 44, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered.drawer-menu-without-margin { margin: 0px 0px; }
/* line 46, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered.drawer-menu-without-margin li a { margin: 0px 0px; }
/* line 49, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered.drawer-menu-without-margin .drawer-menu-header { margin: 0px 0px !important; }
/* line 154, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered li a { margin: 3px 9px; border-radius: 5px; padding: 8px 7px; }
/* line 159, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 64, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 68, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered .drawer-menu-header i { padding-right: 20px; }
/* line 23, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 32, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat li a span { display: inline-block; vertical-align: middle; }
/* line 36, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat li a i { padding-right: 20px; }
/* line 39, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 44, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat.drawer-menu-without-margin { margin: 0px 0px; }
/* line 46, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat.drawer-menu-without-margin li a { margin: 0px 0px; }
/* line 49, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat.drawer-menu-without-margin .drawer-menu-header { margin: 0px 0px !important; }
/* line 165, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat li a { margin: 3px 9px; padding: 8px 7px; }
/* line 169, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 64, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 68, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat .drawer-menu-header i { padding-right: 20px; }
/* line 173, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-input-search { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; }
/* line 8, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-input-search .input { width: 100%; border: none; outline: none; height: 22px; }
/* line 14, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-input-search .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 176, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-input-search-bordered { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E0E0E0; }
/* line 8, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-input-search-bordered .input { width: 100%; border: none; outline: none; height: 22px; }
/* line 14, ../../sass/components/drawer.scss */
.drawer-fixed-right .drawer-input-search-bordered .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 206, ../../sass/components/drawer.scss */
.drawer-fixed-right + header, .drawer-fixed-right + header + main, .drawer-fixed-right + header + main + footer { margin-right: 300px; }

/* line 213, ../../sass/components/drawer.scss */
.drawer-left { width: 0px; height: 100%; position: fixed; background-color: white; z-index: 10; overflow: hidden; transition: width .3s; overflow-y: auto; border-right: 0px solid #E0E0E0; left: 0px; top: 0px; }
/* line 115, ../../sass/components/drawer.scss */
.drawer-left.drawer-absolute { position: absolute; }
/* line 118, ../../sass/components/drawer.scss */
.drawer-left .drawer-title { display: block; padding: 18px 16px 17px 16px; font-size: 18px; font-weight: 500; color: #212121; }
/* line 74, ../../sass/components/drawer.scss */
.drawer-left .drawer-header .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 1; position: relative; color: #212121; }
/* line 83, ../../sass/components/drawer.scss */
.drawer-left .drawer-header .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 1; position: relative; }
/* line 91, ../../sass/components/drawer.scss */
.drawer-left .drawer-header .drawer-background { width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 0; }
/* line 92, ../../sass/components/drawer.scss */
.drawer-left .drawer-header .drawer-background .drawer-img { object-fit: cover; height: 165px; width: 300px; }
/* line 74, ../../sass/components/drawer.scss */
.drawer-left .drawer-header-avatar .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 1; position: relative; color: #212121; }
/* line 83, ../../sass/components/drawer.scss */
.drawer-left .drawer-header-avatar .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 1; position: relative; }
/* line 91, ../../sass/components/drawer.scss */
.drawer-left .drawer-header-avatar .drawer-background { width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 0; }
/* line 92, ../../sass/components/drawer.scss */
.drawer-left .drawer-header-avatar .drawer-background .drawer-img { object-fit: cover; height: 165px; width: 300px; }
/* line 130, ../../sass/components/drawer.scss */
.drawer-left .drawer-header-avatar .drawer-title { padding-top: 8px; }
/* line 133, ../../sass/components/drawer.scss */
.drawer-left .drawer-header-avatar .drawer-avatar { margin: 16px 16px 16px 16px; width: 64px; height: 64px; position: relative; }
/* line 140, ../../sass/components/drawer.scss */
.drawer-left ul { margin-top: 8px; }
/* line 143, ../../sass/components/drawer.scss */
.drawer-left .material-icons { vertical-align: middle; }
/* line 23, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 32, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu li a span { display: inline-block; vertical-align: middle; }
/* line 36, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu li a i { padding-right: 20px; }
/* line 39, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 44, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu.drawer-menu-without-margin { margin: 0px 0px; }
/* line 46, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu.drawer-menu-without-margin li a { margin: 0px 0px; }
/* line 49, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu.drawer-menu-without-margin .drawer-menu-header { margin: 0px 0px !important; }
/* line 148, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 64, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 68, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu .drawer-menu-header i { padding-right: 20px; }
/* line 23, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 32, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered li a span { display: inline-block; vertical-align: middle; }
/* line 36, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered li a i { padding-right: 20px; }
/* line 39, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 44, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered.drawer-menu-without-margin { margin: 0px 0px; }
/* line 46, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered.drawer-menu-without-margin li a { margin: 0px 0px; }
/* line 49, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered.drawer-menu-without-margin .drawer-menu-header { margin: 0px 0px !important; }
/* line 154, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered li a { margin: 3px 9px; border-radius: 5px; padding: 8px 7px; }
/* line 159, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 64, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 68, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered .drawer-menu-header i { padding-right: 20px; }
/* line 23, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered-flat li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 32, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered-flat li a span { display: inline-block; vertical-align: middle; }
/* line 36, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered-flat li a i { padding-right: 20px; }
/* line 39, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered-flat li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 44, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered-flat.drawer-menu-without-margin { margin: 0px 0px; }
/* line 46, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered-flat.drawer-menu-without-margin li a { margin: 0px 0px; }
/* line 49, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered-flat.drawer-menu-without-margin .drawer-menu-header { margin: 0px 0px !important; }
/* line 165, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered-flat li a { margin: 3px 9px; padding: 8px 7px; }
/* line 169, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered-flat .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 64, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered-flat .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 68, ../../sass/components/drawer.scss */
.drawer-left .drawer-menu-bordered-flat .drawer-menu-header i { padding-right: 20px; }
/* line 173, ../../sass/components/drawer.scss */
.drawer-left .drawer-input-search { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; }
/* line 8, ../../sass/components/drawer.scss */
.drawer-left .drawer-input-search .input { width: 100%; border: none; outline: none; height: 22px; }
/* line 14, ../../sass/components/drawer.scss */
.drawer-left .drawer-input-search .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 176, ../../sass/components/drawer.scss */
.drawer-left .drawer-input-search-bordered { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E0E0E0; }
/* line 8, ../../sass/components/drawer.scss */
.drawer-left .drawer-input-search-bordered .input { width: 100%; border: none; outline: none; height: 22px; }
/* line 14, ../../sass/components/drawer.scss */
.drawer-left .drawer-input-search-bordered .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 218, ../../sass/components/drawer.scss */
.drawer-left.open { width: 300px; border-width: 1px; }
/* line 222, ../../sass/components/drawer.scss */
.drawer-left.open.drawer-stacked + header, .drawer-left.open.drawer-stacked + header + main, .drawer-left.open.drawer-stacked + header + main + footer { margin-left: 300px; transition: margin-left .3s; }

/* line 231, ../../sass/components/drawer.scss */
.drawer-right { width: 0px; height: 100%; position: fixed; background-color: white; z-index: 10; overflow: hidden; transition: width .3s; overflow-y: auto; border-left: 0px solid #E0E0E0; right: 0px; top: 0px; }
/* line 115, ../../sass/components/drawer.scss */
.drawer-right.drawer-absolute { position: absolute; }
/* line 118, ../../sass/components/drawer.scss */
.drawer-right .drawer-title { display: block; padding: 18px 16px 17px 16px; font-size: 18px; font-weight: 500; color: #212121; }
/* line 74, ../../sass/components/drawer.scss */
.drawer-right .drawer-header .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 1; position: relative; color: #212121; }
/* line 83, ../../sass/components/drawer.scss */
.drawer-right .drawer-header .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 1; position: relative; }
/* line 91, ../../sass/components/drawer.scss */
.drawer-right .drawer-header .drawer-background { width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 0; }
/* line 92, ../../sass/components/drawer.scss */
.drawer-right .drawer-header .drawer-background .drawer-img { object-fit: cover; height: 165px; width: 300px; }
/* line 74, ../../sass/components/drawer.scss */
.drawer-right .drawer-header-avatar .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 1; position: relative; color: #212121; }
/* line 83, ../../sass/components/drawer.scss */
.drawer-right .drawer-header-avatar .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 1; position: relative; }
/* line 91, ../../sass/components/drawer.scss */
.drawer-right .drawer-header-avatar .drawer-background { width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 0; }
/* line 92, ../../sass/components/drawer.scss */
.drawer-right .drawer-header-avatar .drawer-background .drawer-img { object-fit: cover; height: 165px; width: 300px; }
/* line 130, ../../sass/components/drawer.scss */
.drawer-right .drawer-header-avatar .drawer-title { padding-top: 8px; }
/* line 133, ../../sass/components/drawer.scss */
.drawer-right .drawer-header-avatar .drawer-avatar { margin: 16px 16px 16px 16px; width: 64px; height: 64px; position: relative; }
/* line 140, ../../sass/components/drawer.scss */
.drawer-right ul { margin-top: 8px; }
/* line 143, ../../sass/components/drawer.scss */
.drawer-right .material-icons { vertical-align: middle; }
/* line 23, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 32, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu li a span { display: inline-block; vertical-align: middle; }
/* line 36, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu li a i { padding-right: 20px; }
/* line 39, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 44, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu.drawer-menu-without-margin { margin: 0px 0px; }
/* line 46, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu.drawer-menu-without-margin li a { margin: 0px 0px; }
/* line 49, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu.drawer-menu-without-margin .drawer-menu-header { margin: 0px 0px !important; }
/* line 148, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 64, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 68, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu .drawer-menu-header i { padding-right: 20px; }
/* line 23, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 32, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered li a span { display: inline-block; vertical-align: middle; }
/* line 36, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered li a i { padding-right: 20px; }
/* line 39, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 44, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered.drawer-menu-without-margin { margin: 0px 0px; }
/* line 46, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered.drawer-menu-without-margin li a { margin: 0px 0px; }
/* line 49, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered.drawer-menu-without-margin .drawer-menu-header { margin: 0px 0px !important; }
/* line 154, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered li a { margin: 3px 9px; border-radius: 5px; padding: 8px 7px; }
/* line 159, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 64, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 68, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered .drawer-menu-header i { padding-right: 20px; }
/* line 23, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered-flat li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 32, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered-flat li a span { display: inline-block; vertical-align: middle; }
/* line 36, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered-flat li a i { padding-right: 20px; }
/* line 39, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered-flat li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 44, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered-flat.drawer-menu-without-margin { margin: 0px 0px; }
/* line 46, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered-flat.drawer-menu-without-margin li a { margin: 0px 0px; }
/* line 49, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered-flat.drawer-menu-without-margin .drawer-menu-header { margin: 0px 0px !important; }
/* line 165, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered-flat li a { margin: 3px 9px; padding: 8px 7px; }
/* line 169, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered-flat .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 64, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered-flat .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 68, ../../sass/components/drawer.scss */
.drawer-right .drawer-menu-bordered-flat .drawer-menu-header i { padding-right: 20px; }
/* line 173, ../../sass/components/drawer.scss */
.drawer-right .drawer-input-search { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; }
/* line 8, ../../sass/components/drawer.scss */
.drawer-right .drawer-input-search .input { width: 100%; border: none; outline: none; height: 22px; }
/* line 14, ../../sass/components/drawer.scss */
.drawer-right .drawer-input-search .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 176, ../../sass/components/drawer.scss */
.drawer-right .drawer-input-search-bordered { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; border-top: 1px solid #E0E0E0; border-bottom: 1px solid #E0E0E0; }
/* line 8, ../../sass/components/drawer.scss */
.drawer-right .drawer-input-search-bordered .input { width: 100%; border: none; outline: none; height: 22px; }
/* line 14, ../../sass/components/drawer.scss */
.drawer-right .drawer-input-search-bordered .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 236, ../../sass/components/drawer.scss */
.drawer-right.open { width: 300px; border-width: 1px; }
/* line 240, ../../sass/components/drawer.scss */
.drawer-right.open.drawer-stacked + header, .drawer-right.open.drawer-stacked + header + main, .drawer-right.open.drawer-stacked + header + main + footer { margin-right: 300px; transition: margin-right .3s; }

/* line 249, ../../sass/components/drawer.scss */
.drawer-overlay { transition: opacity .1s; visibility: hidden; position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; background: #000; z-index: 5; -webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1); -moz-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1); transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1); -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); }
/* line 268, ../../sass/components/drawer.scss */
.drawer-overlay.active { opacity: 0.5; visibility: visible; -webkit-transition-delay: 0; -moz-transition-delay: 0; transition-delay: 0; }
/* line 275, ../../sass/components/drawer.scss */
.drawer-overlay.drawer-overlay-absolute { position: absolute; }
