/* line 1, ../../sass/utils/depth.scss */
.depth-0 { -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }

/* line 7, ../../sass/utils/depth.scss */
.depth-1 { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 12, ../../sass/utils/depth.scss */
.depth-2, .btn-fab, .btn-fab.btn-fab-small, .btn-fab-text.btn-fab-small, .btn-fab-triangle.btn-fab-small, .btn-fab-text, .btn-fab-triangle { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 17, ../../sass/utils/depth.scss */
.depth-3 { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 22, ../../sass/utils/depth.scss */
.depth-4 { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 27, ../../sass/utils/depth.scss */
.depth-5 { box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 32, ../../sass/utils/depth.scss */
.depth-1-transition:hover { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/* line 36, ../../sass/utils/depth.scss */
.depth-2-transition:hover { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

/* line 40, ../../sass/utils/depth.scss */
.depth-3-transition:hover { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

/* line 44, ../../sass/utils/depth.scss */
.depth-4-transition:hover { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

/* line 48, ../../sass/utils/depth.scss */
.depth-5-transition:hover { box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* line 76, ../../sass/components/fab.scss */
.btn-fab, .btn-fab.btn-fab-small, .btn-fab-text.btn-fab-small, .btn-fab-triangle.btn-fab-small { display: inline-block; background-color: #000; border-radius: 50%; line-height: 70px; vertical-align: middle; text-align: center; z-index: 10; position: relative; color: white; width: 56px; height: 56px; }
/* line 14, ../../sass/components/fab.scss */
.btn-fab.btn-fab-small, .btn-fab-small.btn-fab-text, .btn-fab-small.btn-fab-triangle { width: 40px; height: 40px; line-height: 54px; }
/* line 20, ../../sass/components/fab.scss */
.btn-fab.btn-fab-fixed, .btn-fab-fixed.btn-fab-text.btn-fab-small, .btn-fab-fixed.btn-fab-triangle.btn-fab-small { position: fixed; }
/* line 23, ../../sass/components/fab.scss */
.btn-fab.btn-fab-absolute, .btn-fab-absolute.btn-fab-text.btn-fab-small, .btn-fab-absolute.btn-fab-triangle.btn-fab-small { position: absolute; }
/* line 26, ../../sass/components/fab.scss */
.btn-fab.btn-fab-top-right, .btn-fab-top-right.btn-fab-text.btn-fab-small, .btn-fab-top-right.btn-fab-triangle.btn-fab-small { top: 16px; right: 16px; }
/* line 30, ../../sass/components/fab.scss */
.btn-fab.btn-fab-top-left, .btn-fab-top-left.btn-fab-text.btn-fab-small, .btn-fab-top-left.btn-fab-triangle.btn-fab-small { top: 16px; left: 16px; }
/* line 34, ../../sass/components/fab.scss */
.btn-fab.btn-fab-bottom-right, .btn-fab-bottom-right.btn-fab-text.btn-fab-small, .btn-fab-bottom-right.btn-fab-triangle.btn-fab-small { bottom: 16px; right: 16px; }
/* line 38, ../../sass/components/fab.scss */
.btn-fab.btn-fab-bottom-left, .btn-fab-bottom-left.btn-fab-text.btn-fab-small, .btn-fab-bottom-left.btn-fab-triangle.btn-fab-small { bottom: 16px; left: 16px; }
/* line 42, ../../sass/components/fab.scss */
.btn-fab.btn-fab-top-center, .btn-fab-top-center.btn-fab-text.btn-fab-small, .btn-fab-top-center.btn-fab-triangle.btn-fab-small { top: 16px; left: 50%; transform: translate(-50%, 0%); }
/* line 47, ../../sass/components/fab.scss */
.btn-fab.btn-fab-bottom-center, .btn-fab-bottom-center.btn-fab-text.btn-fab-small, .btn-fab-bottom-center.btn-fab-triangle.btn-fab-small { bottom: 16px; left: 50%; transform: translate(-50%, 0%); }
/* line 52, ../../sass/components/fab.scss */
.btn-fab.btn-fab-inset, .btn-fab-inset.btn-fab-text.btn-fab-small, .btn-fab-inset.btn-fab-triangle.btn-fab-small { left: 50%; bottom: 28px; transform: translate(-50%, 0%); position: absolute; }
/* line 58, ../../sass/components/fab.scss */
.btn-fab.btn-fab-triangle-inset, .btn-fab-triangle-inset.btn-fab-text.btn-fab-small, .btn-fab-triangle-inset.btn-fab-triangle.btn-fab-small { left: 50%; bottom: 24px; transform: translate(-50%, 0%); position: absolute; }
/* line 64, ../../sass/components/fab.scss */
.btn-fab.btn-fab-halfway, .btn-fab-halfway.btn-fab-text.btn-fab-small, .btn-fab-halfway.btn-fab-triangle.btn-fab-small { position: absolute; right: 16px; bottom: 0px; transform: translate(0px, 40%); }
/* line 69, ../../sass/components/fab.scss */
.btn-fab.btn-fab-halfway.left, .btn-fab-halfway.left.btn-fab-text.btn-fab-small, .btn-fab-halfway.left.btn-fab-triangle.btn-fab-small { right: auto; left: 16px; }

/* line 82, ../../sass/components/fab.scss */
.btn-fab-text { display: inline-block; background-color: #000; border-radius: 50%; line-height: 70px; vertical-align: middle; text-align: center; z-index: 10; position: relative; color: white; height: 48px; line-height: 48px; padding: 0px 20px; border-radius: 48px; font-size: 16px; }
/* line 14, ../../sass/components/fab.scss */
.btn-fab-text.btn-fab-small { width: 40px; height: 40px; line-height: 54px; }
/* line 20, ../../sass/components/fab.scss */
.btn-fab-text.btn-fab-fixed { position: fixed; }
/* line 23, ../../sass/components/fab.scss */
.btn-fab-text.btn-fab-absolute { position: absolute; }
/* line 26, ../../sass/components/fab.scss */
.btn-fab-text.btn-fab-top-right { top: 16px; right: 16px; }
/* line 30, ../../sass/components/fab.scss */
.btn-fab-text.btn-fab-top-left { top: 16px; left: 16px; }
/* line 34, ../../sass/components/fab.scss */
.btn-fab-text.btn-fab-bottom-right { bottom: 16px; right: 16px; }
/* line 38, ../../sass/components/fab.scss */
.btn-fab-text.btn-fab-bottom-left { bottom: 16px; left: 16px; }
/* line 42, ../../sass/components/fab.scss */
.btn-fab-text.btn-fab-top-center { top: 16px; left: 50%; transform: translate(-50%, 0%); }
/* line 47, ../../sass/components/fab.scss */
.btn-fab-text.btn-fab-bottom-center { bottom: 16px; left: 50%; transform: translate(-50%, 0%); }
/* line 52, ../../sass/components/fab.scss */
.btn-fab-text.btn-fab-inset { left: 50%; bottom: 28px; transform: translate(-50%, 0%); position: absolute; }
/* line 58, ../../sass/components/fab.scss */
.btn-fab-text.btn-fab-triangle-inset { left: 50%; bottom: 24px; transform: translate(-50%, 0%); position: absolute; }
/* line 64, ../../sass/components/fab.scss */
.btn-fab-text.btn-fab-halfway { position: absolute; right: 16px; bottom: 0px; transform: translate(0px, 40%); }
/* line 69, ../../sass/components/fab.scss */
.btn-fab-text.btn-fab-halfway.left { right: auto; left: 16px; }
/* line 89, ../../sass/components/fab.scss */
.btn-fab-text i { vertical-align: middle; padding: 2px -2px; display: inline-block; margin-bottom: 3px; }

/* line 97, ../../sass/components/fab.scss */
.btn-fab-triangle { display: inline-block; background-color: #000; border-radius: 50%; line-height: 70px; vertical-align: middle; text-align: center; z-index: 10; position: relative; color: white; width: 62px; height: 62px; line-height: 75px; -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }
/* line 14, ../../sass/components/fab.scss */
.btn-fab-triangle.btn-fab-small { width: 40px; height: 40px; line-height: 54px; }
/* line 20, ../../sass/components/fab.scss */
.btn-fab-triangle.btn-fab-fixed { position: fixed; }
/* line 23, ../../sass/components/fab.scss */
.btn-fab-triangle.btn-fab-absolute { position: absolute; }
/* line 26, ../../sass/components/fab.scss */
.btn-fab-triangle.btn-fab-top-right { top: 16px; right: 16px; }
/* line 30, ../../sass/components/fab.scss */
.btn-fab-triangle.btn-fab-top-left { top: 16px; left: 16px; }
/* line 34, ../../sass/components/fab.scss */
.btn-fab-triangle.btn-fab-bottom-right { bottom: 16px; right: 16px; }
/* line 38, ../../sass/components/fab.scss */
.btn-fab-triangle.btn-fab-bottom-left { bottom: 16px; left: 16px; }
/* line 42, ../../sass/components/fab.scss */
.btn-fab-triangle.btn-fab-top-center { top: 16px; left: 50%; transform: translate(-50%, 0%); }
/* line 47, ../../sass/components/fab.scss */
.btn-fab-triangle.btn-fab-bottom-center { bottom: 16px; left: 50%; transform: translate(-50%, 0%); }
/* line 52, ../../sass/components/fab.scss */
.btn-fab-triangle.btn-fab-inset { left: 50%; bottom: 28px; transform: translate(-50%, 0%); position: absolute; }
/* line 58, ../../sass/components/fab.scss */
.btn-fab-triangle.btn-fab-triangle-inset { left: 50%; bottom: 24px; transform: translate(-50%, 0%); position: absolute; }
/* line 64, ../../sass/components/fab.scss */
.btn-fab-triangle.btn-fab-halfway { position: absolute; right: 16px; bottom: 0px; transform: translate(0px, 40%); }
/* line 69, ../../sass/components/fab.scss */
.btn-fab-triangle.btn-fab-halfway.left { right: auto; left: 16px; }
