/* line 4, ../../sass/components/input-text.scss */
.label-text { color: #6202EE; font-size: 12px; }

/* line 10, ../../sass/components/input-text.scss */
.input-field { position: relative; margin-bottom: 20px; }
/* line 13, ../../sass/components/input-text.scss */
.input-field .input { font-size: 16px; padding: 7px 0px 7px 0px; display: block; width: 300px; border: none; border-bottom: 1px solid #9E9E9E; }
/* line 21, ../../sass/components/input-text.scss */
.input-field .input:hover { border-bottom: 1px solid #424242; }
/* line 24, ../../sass/components/input-text.scss */
.input-field .input:focus { outline: none; }
/* line 27, ../../sass/components/input-text.scss */
.input-field .label { color: #999; font-size: 16px; font-weight: normal; position: absolute; pointer-events: none; left: 0px; top: 5px; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
/* line 39, ../../sass/components/input-text.scss */
.input-field .label-fixed { font-weight: normal; position: absolute; pointer-events: none; left: 0px; top: -10px; font-size: 12px; color: #6202EE; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
/* line 51, ../../sass/components/input-text.scss */
.input-field .input:focus ~ .label, .input-field .input:valid ~ .label { top: -10px; font-size: 12px; color: #6202EE; }
/* line 57, ../../sass/components/input-text.scss */
.input-field .bar { position: relative; display: block; width: 300px; }
/* line 63, ../../sass/components/input-text.scss */
.input-field .bar:before, .input-field .bar:after { content: ''; height: 2px; width: 0; bottom: 0px; position: absolute; background: #6202EE; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
/* line 75, ../../sass/components/input-text.scss */
.input-field .bar:before { left: 50%; }
/* line 78, ../../sass/components/input-text.scss */
.input-field .bar:after { right: 50%; }
/* line 81, ../../sass/components/input-text.scss */
.input-field .input:focus ~ .bar:before, .input-field .input:focus ~ .bar:after { width: 50%; }
/* line 85, ../../sass/components/input-text.scss */
.input-field .highlight { position: absolute; height: 60%; width: 100px; top: 25%; left: 0; pointer-events: none; opacity: 0.5; }
/* line 94, ../../sass/components/input-text.scss */
.input-field .input:focus ~ .highlight { -webkit-animation: inputHighlighter 0.3s ease; -moz-animation: inputHighlighter 0.3s ease; animation: inputHighlighter 0.3s ease; }
/* line 99, ../../sass/components/input-text.scss */
.input-field .helper { font-size: 13px; color: #616161; }

/* line 106, ../../sass/components/input-text.scss */
.input-box { position: relative; margin-bottom: 20px; }
/* line 109, ../../sass/components/input-text.scss */
.input-box .input { font-size: 16px; padding: 20px 0px 7px 0px; background-color: rgba(0, 0, 0, 0.08); display: block; width: 300px; border: none; border-bottom: 1px solid #9E9E9E; }
/* line 118, ../../sass/components/input-text.scss */
.input-box .input:hover { border-bottom: 1px solid #424242; background-color: rgba(0, 0, 0, 0.1); }
/* line 122, ../../sass/components/input-text.scss */
.input-box .input:focus { outline: none; }
/* line 125, ../../sass/components/input-text.scss */
.input-box .label { color: #999; font-size: 16px; font-weight: normal; position: absolute; pointer-events: none; left: 0px; top: 14px; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
/* line 137, ../../sass/components/input-text.scss */
.input-box .label-fixed { font-weight: normal; position: absolute; pointer-events: none; left: 0px; top: 0px; font-size: 12px; color: #6202EE; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
/* line 149, ../../sass/components/input-text.scss */
.input-box .input:focus ~ .label, .input-box .input:valid ~ .label { top: 0px; font-size: 12px; color: #6202EE; }
/* line 155, ../../sass/components/input-text.scss */
.input-box .bar { position: relative; display: block; width: 300px; }
/* line 161, ../../sass/components/input-text.scss */
.input-box .bar:before, .input-box .bar:after { content: ''; height: 2px; width: 0; bottom: 0px; position: absolute; background: #6202EE; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
/* line 173, ../../sass/components/input-text.scss */
.input-box .bar:before { left: 50%; }
/* line 176, ../../sass/components/input-text.scss */
.input-box .bar:after { right: 50%; }
/* line 179, ../../sass/components/input-text.scss */
.input-box .input:focus ~ .bar:before, .input-box .input:focus ~ .bar:after { width: 50%; }
/* line 183, ../../sass/components/input-text.scss */
.input-box .highlight { position: absolute; height: 60%; width: 100px; top: 25%; left: 0; pointer-events: none; opacity: 0.5; }
/* line 192, ../../sass/components/input-text.scss */
.input-box .input:focus ~ .highlight { -webkit-animation: inputHighlighter 0.3s ease; -moz-animation: inputHighlighter 0.3s ease; animation: inputHighlighter 0.3s ease; }
/* line 197, ../../sass/components/input-text.scss */
.input-box .helper { font-size: 13px; color: #616161; }

/* line 204, ../../sass/components/input-text.scss */
.input-outlined { position: relative; margin-bottom: 20px; }
/* line 207, ../../sass/components/input-text.scss */
.input-outlined .input { width: 283px; border: 1px #9E9E9E solid; border-radius: 4px; padding: 7px 7px 7px 7px; font-size: 16px; display: block; }
/* line 215, ../../sass/components/input-text.scss */
.input-outlined .input:hover { border-color: #424242; }
/* line 218, ../../sass/components/input-text.scss */
.input-outlined .input:focus { outline: none; border-color: #6202EE; }
/* line 222, ../../sass/components/input-text.scss */
.input-outlined .highlight { position: absolute; height: 60%; width: 100px; top: 25%; left: 0; pointer-events: none; opacity: 0.5; }
/* line 231, ../../sass/components/input-text.scss */
.input-outlined .input:focus ~ .highlight { -webkit-animation: inputHighlighter 0.3s ease; -moz-animation: inputHighlighter 0.3s ease; animation: inputHighlighter 0.3s ease; }
/* line 236, ../../sass/components/input-text.scss */
.input-outlined .helper { font-size: 13px; color: #616161; }
/* line 240, ../../sass/components/input-text.scss */
.input-outlined .large { padding: 12px 7px 12px 7px; }

@-webkit-keyframes inputHighlighter { from { background: #6202EE; }
  to { width: 0; background: transparent; } }
@-moz-keyframes inputHighlighter { from { background: #6202EE; }
  to { width: 0; background: transparent; } }
@keyframes inputHighlighter { from { background: #6202EE; }
  to { width: 0; background: transparent; } }
