/* line 3, ../../sass/components/input.scss */
.label-text { color: #6202EE; font-size: 12px; vertical-align: middle; display: inline-block; }

/* line 11, ../../sass/components/input.scss */
.input-inline { display: inline-block; }

/* line 16, ../../sass/components/input.scss */
.input-field { position: relative; margin-bottom: 20px; }
/* line 19, ../../sass/components/input.scss */
.input-field .input { font-size: 16px; padding: 7px 0px 7px 0px; display: block; height: 33px; width: 100%; border: none; border-bottom: 1px solid #9E9E9E; }
/* line 27, ../../sass/components/input.scss */
.input-field .input:hover { border-bottom: 1px solid #424242; }
/* line 30, ../../sass/components/input.scss */
.input-field .input:focus { outline: none; }
/* line 33, ../../sass/components/input.scss */
.input-field .input:disabled { cursor: not-allowed; }
/* line 36, ../../sass/components/input.scss */
.input-field .input:focus ~ .label, .input-field .input:valid ~ .label { top: -10px; font-size: 12px; color: #6202EE; }
/* line 42, ../../sass/components/input.scss */
.input-field .input:focus ~ .bar:before, .input-field .input:focus ~ .bar:after { width: 50%; }
/* line 46, ../../sass/components/input.scss */
.input-field .input:focus ~ .highlight { -webkit-animation: inputHighlighter 0.3s ease; -moz-animation: inputHighlighter 0.3s ease; animation: inputHighlighter 0.3s ease; }
/* line 52, ../../sass/components/input.scss */
.input-field .label { color: #999; font-size: 16px; font-weight: normal; position: absolute; pointer-events: none; left: 0px; top: 7px; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
/* line 64, ../../sass/components/input.scss */
.input-field .label-fixed { font-weight: normal; position: absolute; pointer-events: none; left: 0px; top: -10px; font-size: 12px; color: #6202EE; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
/* line 76, ../../sass/components/input.scss */
.input-field .bar { position: relative; display: block; width: 100%; }
/* line 80, ../../sass/components/input.scss */
.input-field .bar:before, .input-field .bar:after { content: ''; height: 2px; width: 0; bottom: 0px; position: absolute; background: #6202EE; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
/* line 92, ../../sass/components/input.scss */
.input-field .bar:before { left: 50%; }
/* line 95, ../../sass/components/input.scss */
.input-field .bar:after { right: 50%; }
/* line 99, ../../sass/components/input.scss */
.input-field .highlight { position: absolute; height: 60%; width: 100px; top: 25%; left: 0; pointer-events: none; opacity: 0.5; }
/* line 108, ../../sass/components/input.scss */
.input-field .helper { font-size: 13px; color: #616161; }
/* line 112, ../../sass/components/input.scss */
.input-field select { height: 37px !important; }

/* line 118, ../../sass/components/input.scss */
.input-box { position: relative; margin-bottom: 20px; }
/* line 121, ../../sass/components/input.scss */
.input-box .input { font-size: 16px; padding: 20px 0px 7px 0px; background-color: rgba(0, 0, 0, 0.08); display: block; height: 46px; width: 100%; border: none; border-bottom: 1px solid #9E9E9E; }
/* line 130, ../../sass/components/input.scss */
.input-box .input:disabled { background-color: #ebebe4; cursor: not-allowed; }
/* line 134, ../../sass/components/input.scss */
.input-box .input:hover { border-bottom: 1px solid #424242; background-color: rgba(0, 0, 0, 0.1); }
/* line 138, ../../sass/components/input.scss */
.input-box .input:focus { outline: none; }
/* line 141, ../../sass/components/input.scss */
.input-box .input:focus ~ .label, .input-box .input:valid ~ .label { top: 0px; font-size: 12px; color: #6202EE; }
/* line 147, ../../sass/components/input.scss */
.input-box .input:focus ~ .bar:before, .input-box .input:focus ~ .bar:after { width: 50%; }
/* line 151, ../../sass/components/input.scss */
.input-box .input:focus ~ .highlight { -webkit-animation: inputHighlighter 0.3s ease; -moz-animation: inputHighlighter 0.3s ease; animation: inputHighlighter 0.3s ease; }
/* line 157, ../../sass/components/input.scss */
.input-box .label { color: #999; font-size: 16px; font-weight: normal; position: absolute; pointer-events: none; left: 0px; top: 14px; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
/* line 169, ../../sass/components/input.scss */
.input-box .label-fixed { font-weight: normal; position: absolute; pointer-events: none; left: 0px; top: 0px; font-size: 12px; color: #6202EE; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
/* line 181, ../../sass/components/input.scss */
.input-box .bar { position: relative; display: block; width: 100%; }
/* line 185, ../../sass/components/input.scss */
.input-box .bar:before, .input-box .bar:after { content: ''; height: 2px; width: 0; bottom: 0px; position: absolute; background: #6202EE; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
/* line 197, ../../sass/components/input.scss */
.input-box .bar:before { left: 50%; }
/* line 200, ../../sass/components/input.scss */
.input-box .bar:after { right: 50%; }
/* line 204, ../../sass/components/input.scss */
.input-box .highlight { position: absolute; height: 60%; width: 100px; top: 25%; left: 0; pointer-events: none; opacity: 0.5; }
/* line 213, ../../sass/components/input.scss */
.input-box .helper { font-size: 13px; color: #616161; }
/* line 217, ../../sass/components/input.scss */
.input-box select { height: 50px !important; }

/* line 223, ../../sass/components/input.scss */
.input-outlined { position: relative; margin-bottom: 20px; }
/* line 226, ../../sass/components/input.scss */
.input-outlined .input { width: 100%; border: 1px #9E9E9E solid; border-radius: 4px; height: 34px; padding: 7px 7px 7px 7px; font-size: 16px; display: block; }
/* line 234, ../../sass/components/input.scss */
.input-outlined .input:hover { border-color: #424242; }
/* line 237, ../../sass/components/input.scss */
.input-outlined .input:focus { outline: none; border-color: #6202EE; }
/* line 241, ../../sass/components/input.scss */
.input-outlined .input:disabled { cursor: not-allowed; }
/* line 244, ../../sass/components/input.scss */
.input-outlined .input:focus ~ .highlight { -webkit-animation: inputHighlighter 0.3s ease; -moz-animation: inputHighlighter 0.3s ease; animation: inputHighlighter 0.3s ease; }
/* line 249, ../../sass/components/input.scss */
.input-outlined .input.input-large { padding: 12px 7px 12px 7px; }
/* line 253, ../../sass/components/input.scss */
.input-outlined .highlight { position: absolute; height: 60%; width: 100px; top: 25%; left: 7px; pointer-events: none; opacity: 0.5; }
/* line 262, ../../sass/components/input.scss */
.input-outlined .helper { font-size: 13px; color: #616161; }
/* line 266, ../../sass/components/input.scss */
.input-outlined select { height: 38px !important; }

@-webkit-keyframes inputHighlighter { from { background: #6202EE; }
  to { width: 0; background: transparent; } }
@-moz-keyframes inputHighlighter { from { background: #6202EE; }
  to { width: 0; background: transparent; } }
@keyframes inputHighlighter { from { background: #6202EE; }
  to { width: 0; background: transparent; } }
