/* line 3, ../../sass/components/list.scss */
.list { border-radius: 4px; border: 1px solid #E0E0E0; overflow: hidden; }
/* line 8, ../../sass/components/list.scss */
.list a.list-item { display: block; }
/* line 12, ../../sass/components/list.scss */
.list .list-item { position: relative; padding: 10px 20px; border-bottom: 1px solid #E0E0E0; }
/* line 16, ../../sass/components/list.scss */
.list .list-item i { position: absolute; color: #6202EE; top: 7px; right: 17px; }
/* line 21, ../../sass/components/list.scss */
.list .list-item i.left { left: 10px; }
/* line 24, ../../sass/components/list.scss */
.list .list-item i.right { right: 17px; }
/* line 29, ../../sass/components/list.scss */
.list:last-child { border-bottom: none; }
