/* line 1, ../../sass/utils/shadow.scss */
.depth-0, .drawer-fixed-left, .drawer-fixed-right { -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }

/* line 7, ../../sass/utils/shadow.scss */
.depth-1, .drawer-left.open, .drawer-right.open { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 12, ../../sass/utils/shadow.scss */
.depth-2 { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 17, ../../sass/utils/shadow.scss */
.depth-3 { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 22, ../../sass/utils/shadow.scss */
.depth-4 { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 27, ../../sass/utils/shadow.scss */
.depth-5 { box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* line 32, ../../sass/utils/shadow.scss */
.depth-1-transiction:hover { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/* line 36, ../../sass/utils/shadow.scss */
.depth-2-transiction:hover { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

/* line 40, ../../sass/utils/shadow.scss */
.depth-3-transiction:hover { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

/* line 44, ../../sass/utils/shadow.scss */
.depth-4-transiction:hover { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

/* line 48, ../../sass/utils/shadow.scss */
.depth-5-transiction:hover { box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* line 179, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left { width: 0px; height: 100%; position: fixed; background-color: white; z-index: 10; overflow: hidden; transition: width .3s; border-right: 0px solid #E0E0E0; left: 0px; width: 300px; border-width: 1px; }
/* line 112, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left.drawer-absolute { position: absolute; }
/* line 115, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-title { display: block; padding: 18px 16px 17px 16px; font-size: 18px; font-weight: 500; }
/* line 76, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-header .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 100; position: relative; }
/* line 84, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-header .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 100; position: relative; }
/* line 92, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-header .drawer-img { object-fit: cover; width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 000; background-color: blue; }
/* line 76, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-header-avatar .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 100; position: relative; }
/* line 84, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-header-avatar .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 100; position: relative; }
/* line 92, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-header-avatar .drawer-img { object-fit: cover; width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 000; background-color: blue; }
/* line 126, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-header-avatar .drawer-title { padding-top: 8px; }
/* line 129, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-header-avatar .drawer-avatar { margin: 16px 16px 16px 16px; width: 64px; height: 64px; position: relative; }
/* line 136, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left ul { margin-top: 8px; }
/* line 139, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .material-icons { vertical-align: middle; }
/* line 22, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 31, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu li a span { display: inline-block; vertical-align: middle; }
/* line 35, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu li a i { padding-right: 20px; }
/* line 38, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 42, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu li a.active-gray { background-color: #E0E0E0; }
/* line 46, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu.drawer-menu-margin-none { margin: 0px 0px; }
/* line 48, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu.drawer-menu-margin-none li a { margin: 0px 0px; }
/* line 51, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu.drawer-menu-margin-none .drawer-menu-header { margin: 0px 0px !important; }
/* line 144, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 66, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 70, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu .drawer-menu-header i { padding-right: 20px; }
/* line 22, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 31, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered li a span { display: inline-block; vertical-align: middle; }
/* line 35, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered li a i { padding-right: 20px; }
/* line 38, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 42, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered li a.active-gray { background-color: #E0E0E0; }
/* line 46, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered.drawer-menu-margin-none { margin: 0px 0px; }
/* line 48, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered.drawer-menu-margin-none li a { margin: 0px 0px; }
/* line 51, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered.drawer-menu-margin-none .drawer-menu-header { margin: 0px 0px !important; }
/* line 150, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered li a { margin: 3px 9px; border-radius: 5px; padding: 8px 7px; }
/* line 155, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 66, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 70, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered .drawer-menu-header i { padding-right: 20px; }
/* line 22, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 31, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat li a span { display: inline-block; vertical-align: middle; }
/* line 35, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat li a i { padding-right: 20px; }
/* line 38, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 42, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat li a.active-gray { background-color: #E0E0E0; }
/* line 46, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat.drawer-menu-margin-none { margin: 0px 0px; }
/* line 48, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat.drawer-menu-margin-none li a { margin: 0px 0px; }
/* line 51, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat.drawer-menu-margin-none .drawer-menu-header { margin: 0px 0px !important; }
/* line 161, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat li a { margin: 3px 9px; padding: 8px 7px; }
/* line 165, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 66, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 70, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-menu-bordered-flat .drawer-menu-header i { padding-right: 20px; }
/* line 169, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-input-search { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; }
/* line 8, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-input-search .input { width: 100%; border: none; outline: none; }
/* line 13, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-input-search .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 172, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-input-search-bordered { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; border-top: 1px solid #B0BEC5; border-bottom: 1px solid #B0BEC5; }
/* line 8, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-input-search-bordered .input { width: 100%; border: none; outline: none; }
/* line 13, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left .drawer-input-search-bordered .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 186, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-left + header, .drawer-fixed-left + main, .drawer-fixed-left + footer { margin-left: 300px; }

/* line 193, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right { width: 0px; height: 100%; position: fixed; background-color: white; z-index: 10; overflow: hidden; transition: width .3s; border-left: 0px solid #E0E0E0; right: 0px; width: 300px; border-width: 1px; }
/* line 112, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right.drawer-absolute { position: absolute; }
/* line 115, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-title { display: block; padding: 18px 16px 17px 16px; font-size: 18px; font-weight: 500; }
/* line 76, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-header .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 100; position: relative; }
/* line 84, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-header .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 100; position: relative; }
/* line 92, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-header .drawer-img { object-fit: cover; width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 000; background-color: blue; }
/* line 76, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-header-avatar .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 100; position: relative; }
/* line 84, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-header-avatar .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 100; position: relative; }
/* line 92, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-header-avatar .drawer-img { object-fit: cover; width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 000; background-color: blue; }
/* line 126, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-header-avatar .drawer-title { padding-top: 8px; }
/* line 129, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-header-avatar .drawer-avatar { margin: 16px 16px 16px 16px; width: 64px; height: 64px; position: relative; }
/* line 136, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right ul { margin-top: 8px; }
/* line 139, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .material-icons { vertical-align: middle; }
/* line 22, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 31, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu li a span { display: inline-block; vertical-align: middle; }
/* line 35, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu li a i { padding-right: 20px; }
/* line 38, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 42, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu li a.active-gray { background-color: #E0E0E0; }
/* line 46, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu.drawer-menu-margin-none { margin: 0px 0px; }
/* line 48, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu.drawer-menu-margin-none li a { margin: 0px 0px; }
/* line 51, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu.drawer-menu-margin-none .drawer-menu-header { margin: 0px 0px !important; }
/* line 144, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 66, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 70, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu .drawer-menu-header i { padding-right: 20px; }
/* line 22, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 31, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered li a span { display: inline-block; vertical-align: middle; }
/* line 35, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered li a i { padding-right: 20px; }
/* line 38, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 42, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered li a.active-gray { background-color: #E0E0E0; }
/* line 46, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered.drawer-menu-margin-none { margin: 0px 0px; }
/* line 48, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered.drawer-menu-margin-none li a { margin: 0px 0px; }
/* line 51, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered.drawer-menu-margin-none .drawer-menu-header { margin: 0px 0px !important; }
/* line 150, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered li a { margin: 3px 9px; border-radius: 5px; padding: 8px 7px; }
/* line 155, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 66, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 70, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered .drawer-menu-header i { padding-right: 20px; }
/* line 22, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 31, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat li a span { display: inline-block; vertical-align: middle; }
/* line 35, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat li a i { padding-right: 20px; }
/* line 38, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 42, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat li a.active-gray { background-color: #E0E0E0; }
/* line 46, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat.drawer-menu-margin-none { margin: 0px 0px; }
/* line 48, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat.drawer-menu-margin-none li a { margin: 0px 0px; }
/* line 51, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat.drawer-menu-margin-none .drawer-menu-header { margin: 0px 0px !important; }
/* line 161, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat li a { margin: 3px 9px; padding: 8px 7px; }
/* line 165, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 66, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 70, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-menu-bordered-flat .drawer-menu-header i { padding-right: 20px; }
/* line 169, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-input-search { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; }
/* line 8, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-input-search .input { width: 100%; border: none; outline: none; }
/* line 13, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-input-search .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 172, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-input-search-bordered { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; border-top: 1px solid #B0BEC5; border-bottom: 1px solid #B0BEC5; }
/* line 8, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-input-search-bordered .input { width: 100%; border: none; outline: none; }
/* line 13, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right .drawer-input-search-bordered .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 201, ../../sass/components/navigation-drawer.scss */
.drawer-fixed-right + header, .drawer-fixed-right + main, .drawer-fixed-right + footer { margin-right: 300px; }

/* line 208, ../../sass/components/navigation-drawer.scss */
.drawer-left { width: 0px; height: 100%; position: fixed; background-color: white; z-index: 10; overflow: hidden; transition: width .3s; border-right: 0px solid #E0E0E0; left: 0px; }
/* line 112, ../../sass/components/navigation-drawer.scss */
.drawer-left.drawer-absolute { position: absolute; }
/* line 115, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-title { display: block; padding: 18px 16px 17px 16px; font-size: 18px; font-weight: 500; }
/* line 76, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-header .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 100; position: relative; }
/* line 84, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-header .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 100; position: relative; }
/* line 92, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-header .drawer-img { object-fit: cover; width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 000; background-color: blue; }
/* line 76, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-header-avatar .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 100; position: relative; }
/* line 84, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-header-avatar .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 100; position: relative; }
/* line 92, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-header-avatar .drawer-img { object-fit: cover; width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 000; background-color: blue; }
/* line 126, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-header-avatar .drawer-title { padding-top: 8px; }
/* line 129, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-header-avatar .drawer-avatar { margin: 16px 16px 16px 16px; width: 64px; height: 64px; position: relative; }
/* line 136, ../../sass/components/navigation-drawer.scss */
.drawer-left ul { margin-top: 8px; }
/* line 139, ../../sass/components/navigation-drawer.scss */
.drawer-left .material-icons { vertical-align: middle; }
/* line 22, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 31, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu li a span { display: inline-block; vertical-align: middle; }
/* line 35, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu li a i { padding-right: 20px; }
/* line 38, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 42, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu li a.active-gray { background-color: #E0E0E0; }
/* line 46, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu.drawer-menu-margin-none { margin: 0px 0px; }
/* line 48, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu.drawer-menu-margin-none li a { margin: 0px 0px; }
/* line 51, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu.drawer-menu-margin-none .drawer-menu-header { margin: 0px 0px !important; }
/* line 144, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 66, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 70, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu .drawer-menu-header i { padding-right: 20px; }
/* line 22, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 31, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered li a span { display: inline-block; vertical-align: middle; }
/* line 35, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered li a i { padding-right: 20px; }
/* line 38, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 42, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered li a.active-gray { background-color: #E0E0E0; }
/* line 46, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered.drawer-menu-margin-none { margin: 0px 0px; }
/* line 48, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered.drawer-menu-margin-none li a { margin: 0px 0px; }
/* line 51, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered.drawer-menu-margin-none .drawer-menu-header { margin: 0px 0px !important; }
/* line 150, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered li a { margin: 3px 9px; border-radius: 5px; padding: 8px 7px; }
/* line 155, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 66, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 70, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered .drawer-menu-header i { padding-right: 20px; }
/* line 22, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered-flat li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 31, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered-flat li a span { display: inline-block; vertical-align: middle; }
/* line 35, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered-flat li a i { padding-right: 20px; }
/* line 38, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered-flat li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 42, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered-flat li a.active-gray { background-color: #E0E0E0; }
/* line 46, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered-flat.drawer-menu-margin-none { margin: 0px 0px; }
/* line 48, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered-flat.drawer-menu-margin-none li a { margin: 0px 0px; }
/* line 51, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered-flat.drawer-menu-margin-none .drawer-menu-header { margin: 0px 0px !important; }
/* line 161, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered-flat li a { margin: 3px 9px; padding: 8px 7px; }
/* line 165, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered-flat .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 66, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered-flat .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 70, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-menu-bordered-flat .drawer-menu-header i { padding-right: 20px; }
/* line 169, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-input-search { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; }
/* line 8, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-input-search .input { width: 100%; border: none; outline: none; }
/* line 13, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-input-search .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 172, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-input-search-bordered { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; border-top: 1px solid #B0BEC5; border-bottom: 1px solid #B0BEC5; }
/* line 8, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-input-search-bordered .input { width: 100%; border: none; outline: none; }
/* line 13, ../../sass/components/navigation-drawer.scss */
.drawer-left .drawer-input-search-bordered .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 212, ../../sass/components/navigation-drawer.scss */
.drawer-left.open { width: 300px; border-width: 1px; }
/* line 216, ../../sass/components/navigation-drawer.scss */
.drawer-left.open.drawer-stacked + header, .drawer-left.open.drawer-stacked + main, .drawer-left.open.drawer-stacked + footer { margin-left: 300px; transition: margin-left .3s; }

/* line 225, ../../sass/components/navigation-drawer.scss */
.drawer-right { width: 0px; height: 100%; position: fixed; background-color: white; z-index: 10; overflow: hidden; transition: width .3s; border-left: 0px solid #E0E0E0; right: 0px; }
/* line 112, ../../sass/components/navigation-drawer.scss */
.drawer-right.drawer-absolute { position: absolute; }
/* line 115, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-title { display: block; padding: 18px 16px 17px 16px; font-size: 18px; font-weight: 500; }
/* line 76, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-header .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 100; position: relative; }
/* line 84, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-header .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 100; position: relative; }
/* line 92, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-header .drawer-img { object-fit: cover; width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 000; background-color: blue; }
/* line 76, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-header-avatar .drawer-title { display: block; padding: 18px 16px 0px 16px; font-size: 18px; font-weight: 500; z-index: 100; position: relative; }
/* line 84, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-header-avatar .drawer-subtitle { display: block; padding: 5px 16px 17px 16px; color: gray; font-size: 14px; z-index: 100; position: relative; }
/* line 92, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-header-avatar .drawer-img { object-fit: cover; width: 300px; height: 165px; position: absolute; top: 0px; left: 0px; z-index: 000; background-color: blue; }
/* line 126, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-header-avatar .drawer-title { padding-top: 8px; }
/* line 129, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-header-avatar .drawer-avatar { margin: 16px 16px 16px 16px; width: 64px; height: 64px; position: relative; }
/* line 136, ../../sass/components/navigation-drawer.scss */
.drawer-right ul { margin-top: 8px; }
/* line 139, ../../sass/components/navigation-drawer.scss */
.drawer-right .material-icons { vertical-align: middle; }
/* line 22, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 31, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu li a span { display: inline-block; vertical-align: middle; }
/* line 35, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu li a i { padding-right: 20px; }
/* line 38, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 42, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu li a.active-gray { background-color: #E0E0E0; }
/* line 46, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu.drawer-menu-margin-none { margin: 0px 0px; }
/* line 48, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu.drawer-menu-margin-none li a { margin: 0px 0px; }
/* line 51, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu.drawer-menu-margin-none .drawer-menu-header { margin: 0px 0px !important; }
/* line 144, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 66, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 70, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu .drawer-menu-header i { padding-right: 20px; }
/* line 22, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 31, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered li a span { display: inline-block; vertical-align: middle; }
/* line 35, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered li a i { padding-right: 20px; }
/* line 38, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 42, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered li a.active-gray { background-color: #E0E0E0; }
/* line 46, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered.drawer-menu-margin-none { margin: 0px 0px; }
/* line 48, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered.drawer-menu-margin-none li a { margin: 0px 0px; }
/* line 51, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered.drawer-menu-margin-none .drawer-menu-header { margin: 0px 0px !important; }
/* line 150, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered li a { margin: 3px 9px; border-radius: 5px; padding: 8px 7px; }
/* line 155, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 66, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 70, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered .drawer-menu-header i { padding-right: 20px; }
/* line 22, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered-flat li a { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #616161; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 31, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered-flat li a span { display: inline-block; vertical-align: middle; }
/* line 35, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered-flat li a i { padding-right: 20px; }
/* line 38, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered-flat li a.active { background-color: #F3E5F5; color: #6202EE; }
/* line 42, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered-flat li a.active-gray { background-color: #E0E0E0; }
/* line 46, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered-flat.drawer-menu-margin-none { margin: 0px 0px; }
/* line 48, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered-flat.drawer-menu-margin-none li a { margin: 0px 0px; }
/* line 51, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered-flat.drawer-menu-margin-none .drawer-menu-header { margin: 0px 0px !important; }
/* line 161, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered-flat li a { margin: 3px 9px; padding: 8px 7px; }
/* line 165, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered-flat .drawer-menu-header { padding: 8px 16px; display: block; height: 40px; line-height: 20px; color: #9E9E9E; font-size: 14px; font-weight: 500; margin: 4px 0px; }
/* line 66, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered-flat .drawer-menu-header span { display: inline-block; vertical-align: middle; }
/* line 70, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-menu-bordered-flat .drawer-menu-header i { padding-right: 20px; }
/* line 169, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-input-search { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; }
/* line 8, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-input-search .input { width: 100%; border: none; outline: none; }
/* line 13, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-input-search .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 172, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-input-search-bordered { margin: 0px 0px; padding: 18px 16px 18px 16px; position: relative; border-top: 1px solid #B0BEC5; border-bottom: 1px solid #B0BEC5; }
/* line 8, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-input-search-bordered .input { width: 100%; border: none; outline: none; }
/* line 13, ../../sass/components/navigation-drawer.scss */
.drawer-right .drawer-input-search-bordered .icon { position: absolute; right: 10px; top: 16px; color: #616161; }
/* line 229, ../../sass/components/navigation-drawer.scss */
.drawer-right.open { width: 300px; border-width: 1px; }
/* line 233, ../../sass/components/navigation-drawer.scss */
.drawer-right.open.drawer-stacked + header, .drawer-right.open.drawer-stacked + main, .drawer-right.open.drawer-stacked + footer { margin-right: 300px; transition: margin-left .3s; }

/* line 242, ../../sass/components/navigation-drawer.scss */
.drawer-overlay { transition: opacity .1s; visibility: hidden; position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; background: #000; z-index: 5; -webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1); -moz-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1); transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1); -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); }
/* line 261, ../../sass/components/navigation-drawer.scss */
.drawer-overlay.active { opacity: 0.5; visibility: visible; -webkit-transition-delay: 0; -moz-transition-delay: 0; transition-delay: 0; }
/* line 268, ../../sass/components/navigation-drawer.scss */
.drawer-overlay.drawer-overlay-absolute { position: absolute; }
