@keyframes ripple { 0% { box-shadow: 0px 0px 0px 1px transparent; }
  50% { box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.1); }
  100% { box-shadow: 0px 0px 0px 8px transparent; } }
/* line 19, ../../sass/components/radio.scss */
.input-radio { margin-bottom: 10px; }
/* line 22, ../../sass/components/radio.scss */
.input-radio.radio-inline { display: inline-block; }
/* line 26, ../../sass/components/radio.scss */
.input-radio .input[type="radio"] { display: none; }
/* line 28, ../../sass/components/radio.scss */
.input-radio .input[type="radio"]:checked + label:before { border-color: #6202EE; animation: ripple 0.2s linear forwards; }
/* line 32, ../../sass/components/radio.scss */
.input-radio .input[type="radio"]:checked + label:after { transform: scale(1); }
/* line 36, ../../sass/components/radio.scss */
.input-radio .input[type="radio"]:disabled + .label:before { border-color: rgba(0, 0, 0, 0.26); }
/* line 40, ../../sass/components/radio.scss */
.input-radio .input[type="radio"]:disabled:checked + .label:after { background: rgba(0, 0, 0, 0.26); }
/* line 47, ../../sass/components/radio.scss */
.input-radio .label { display: inline-block; height: 18px; position: relative; padding: 0 28px; margin-bottom: 0; cursor: pointer; vertical-align: bottom; }
/* line 55, ../../sass/components/radio.scss */
.input-radio .label:before, .input-radio .label:after { position: absolute; content: ''; border-radius: 50%; transition: all .3s ease; transition-property: transform, border-color; }
/* line 62, ../../sass/components/radio.scss */
.input-radio .label:before { left: 0; top: 0; width: 18px; height: 18px; border: 2px solid rgba(0, 0, 0, 0.54); }
/* line 69, ../../sass/components/radio.scss */
.input-radio .label:after { top: 5px; left: 5px; width: 8px; height: 8px; transform: scale(0); background: #6202EE; }
