/* line 47, ../../sass/components/table.scss */
.table { border: none; width: 100%; display: table; border-collapse: collapse; border-spacing: 0; }
/* line 9, ../../sass/components/table.scss */
.table.table-centered thead tr th, .table.table-centered tbody tr td { text-align: center; }
/* line 15, ../../sass/components/table.scss */
.table.table-bordered tbody > tr > td, .table.table-bordered tbody > tr > th, .table.table-bordered tfoot > tr > td, .table.table-bordered tfoot > tr > th, .table.table-bordered thead > tr > td, .table.table-bordered thead > tr > th { border: 1px solid #E0E0E0; }
/* line 24, ../../sass/components/table.scss */
.table tr { border-bottom: 1px solid #E0E0E0; }
/* line 27, ../../sass/components/table.scss */
.table th, .table td { border: none; padding: 10px 5px; display: table-cell; text-align: left; vertical-align: middle; border-radius: 2px; color: #424242; }
/* line 37, ../../sass/components/table.scss */
.table .checkbox-cell { width: 18px; }
/* line 39, ../../sass/components/table.scss */
.table .checkbox-cell .input-checkbox { width: 19px; margin-bottom: 0px; }

/* line 51, ../../sass/components/table.scss */
.table-striped { border: none; width: 100%; display: table; border-collapse: collapse; border-spacing: 0; }
/* line 9, ../../sass/components/table.scss */
.table-striped.table-centered thead tr th, .table-striped.table-centered tbody tr td { text-align: center; }
/* line 15, ../../sass/components/table.scss */
.table-striped.table-bordered tbody > tr > td, .table-striped.table-bordered tbody > tr > th, .table-striped.table-bordered tfoot > tr > td, .table-striped.table-bordered tfoot > tr > th, .table-striped.table-bordered thead > tr > td, .table-striped.table-bordered thead > tr > th { border: 1px solid #E0E0E0; }
/* line 24, ../../sass/components/table.scss */
.table-striped tr { border-bottom: 1px solid #E0E0E0; }
/* line 27, ../../sass/components/table.scss */
.table-striped th, .table-striped td { border: none; padding: 10px 5px; display: table-cell; text-align: left; vertical-align: middle; border-radius: 2px; color: #424242; }
/* line 37, ../../sass/components/table.scss */
.table-striped .checkbox-cell { width: 18px; }
/* line 39, ../../sass/components/table.scss */
.table-striped .checkbox-cell .input-checkbox { width: 19px; margin-bottom: 0px; }
/* line 53, ../../sass/components/table.scss */
.table-striped tr { border-bottom: none; }
/* line 57, ../../sass/components/table.scss */
.table-striped > tbody > tr:nth-child(odd) { background-color: rgba(242, 242, 242, 0.5); }
/* line 60, ../../sass/components/table.scss */
.table-striped > tbody > tr > td { border-radius: 0; }

/* line 66, ../../sass/components/table.scss */
.table-highlight { border: none; width: 100%; display: table; border-collapse: collapse; border-spacing: 0; }
/* line 9, ../../sass/components/table.scss */
.table-highlight.table-centered thead tr th, .table-highlight.table-centered tbody tr td { text-align: center; }
/* line 15, ../../sass/components/table.scss */
.table-highlight.table-bordered tbody > tr > td, .table-highlight.table-bordered tbody > tr > th, .table-highlight.table-bordered tfoot > tr > td, .table-highlight.table-bordered tfoot > tr > th, .table-highlight.table-bordered thead > tr > td, .table-highlight.table-bordered thead > tr > th { border: 1px solid #E0E0E0; }
/* line 24, ../../sass/components/table.scss */
.table-highlight tr { border-bottom: 1px solid #E0E0E0; }
/* line 27, ../../sass/components/table.scss */
.table-highlight th, .table-highlight td { border: none; padding: 10px 5px; display: table-cell; text-align: left; vertical-align: middle; border-radius: 2px; color: #424242; }
/* line 37, ../../sass/components/table.scss */
.table-highlight .checkbox-cell { width: 18px; }
/* line 39, ../../sass/components/table.scss */
.table-highlight .checkbox-cell .input-checkbox { width: 19px; margin-bottom: 0px; }
/* line 68, ../../sass/components/table.scss */
.table-highlight > tbody > tr { transition: background-color .25s ease; }
/* line 70, ../../sass/components/table.scss */
.table-highlight > tbody > tr:hover { background-color: rgba(242, 242, 242, 0.5); }
