.hover-effect:hover {
    background-color: rgba(0,0,0,0.15);
    transition: background-color .3s;
}

.hover-effect-light:hover {
    background-color: rgba(0,0,0,0.05);
    transition: background-color .3s;
}

.hover-effect-white:hover {
    background-color: rgba(255,255,255,0.15);
    transition: background-color .3s;
}

.hover-effect-white-light:hover {
    background-color: rgba(255,255,255,0.05);
    transition: background-color .3s;
}